#include <iostream>
#include <queue>
#include <utility>

using namespace std;

int main(void){
	


	queue<pair<int,int>> q;
	int a=2;
	int b=3;
	
	q.push(make_pair(1,2));
	
	pair<int,int> p =make_pair(a,b);
	q.push(p); // p의 (2,3)이 q에 push된다.
	
	cout << q.front().first << " " << q.front().second<<endl;
	cout << q.back().first << " " << q.back().second<<endl;
	 
	
	while(!q.empty()){
		
		pair<int,int> n = q.front();		
		cout<< n.first << " " << n.second<<endl;
		
		
		q.pop();	
		cout <<"q size"<< q.size()<<endl;
		
	}
	
	q.push(make_pair(4,5));
	q.push(make_pair(5,6));
	
	queue<pair<int,int>> emt;
	swap(q, emt);
	
	cout<<endl<<"changed q size"<< q.size()<<endl;
	
	


	return 0;

}